# Project exclude paths
/project/project/target/
/project/target/
/target/
/target/scala-2.13/classes/
/target/scala-2.13/test-classes/

.idea/scopes/
.idea/codeStyles/
.idea/artifacts/
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/libraries/
.idea/modules/
.idea/runConfigurations/
.idea/.name
.idea/*.xml
!.idea/vcs.xml
!.idea/uiDesigner.xml
/*.bat
*.class
*.log
!scala/scala-impl/testdata/decompiler/**/*.class
!scala/runners/resources/org/jetbrains/plugins/scala/worksheet/*.class
.DS_Store
*~
target/
.bloop/
.bsp
